<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gohb.mapper.client.MyUserMapper">

    <resultMap id="BaseResultMap" type="com.gohb.params.bo.client.MyUserBO">
            <id property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="member" column="member" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,email,password,
        status,create_time,member
    </sql>
</mapper>
