<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gohb.mapper.SysMenuMapper">

    <resultMap id="BaseResultMap" type="com.gohb.bo.sys.SysMenuBO">
            <id property="menuId" column="menu_id" jdbcType="BIGINT"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="perms" column="perms" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        menu_id,parent_id,name,
        url,perms,type,
        icon,order_num
    </sql>
</mapper>
